<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ユーザー編集</title>
</head>
<body>
<h１>ユーザー編集</h１>

<!--Flashメッセージの表示-->
<p th:if="${message}" th:text="${message}" style="color:red;">完了メッセージ</p>

<!-- 入力エラー全体表示 -->
<!--<p th:if="${errorMassage}" th:text="${errorMassage}" 
style="background-color: #fdd; padding: 10px; border: 1px solid red;">
    入力内容に誤りがあります。メッセージを確認し、再度入力してください。
</p>
<p th:if="${errorMassage}" th:text="${errorMassage}" 
style="background-color: #fdd; padding: 10px; border: 1px solid red;">
    「パスワード」と「パスワード（確認）」が異なります
</p>-->
<form th:action="@{/admin/User/update}"th:object="${userForm}" method="post">
	<div>
	<p>ユーザーID <br>
	<input type ="text" th:field="*{username}" value="${username}" readonly>
	</p>
	</div>
      
	<div>
	<p>ユーザー名 ※<br>
	<input type="text" th:field="*{account_name}" placeholder="黒須 パワ男" >
	<span th:if="${#fields.hasErrors('account_name')}" th:errors="*{account_name}" style="color:red"></span>
	</p>
	</div>
        
	<div>
	<p>パスワード ※<br>
	<input type="text" th:field="*{password}" >
	<span th:if="${#fields.hasErrors('password')}" th:errors="*{username}" style="color:red"></span>
	</p>
	</div>
            
	<div>
	<p>パスワード (確認) ※<br>
	<input type="text" th:field="*{password}">
	</p>
	</div>
	<!--パスワードが一致するかのチェック-->
	<p th:if="${#fields.hasErrors('samePassword')}" th:errors="*{samePassword}" style="color:red;">
		相関項目チェックのエラー
	</p>
        
    <div>
	<p>電話番号 ※<br>
	<input type="text" th:field="*{TEL}" placeholder="08012345678" maxlength="11">
	<span th:if="${#fields.hasErrors('TEL')}" th:errors="*{TEL}" style="color:red"></span>
	</p>
	</div>
            
	<p>住所 <br>
	<input type="text" name="address" maxlength="50">
	<span th:if="${#fields.hasErrors('address')}" th:errors="*{address}" style="color:red"></span>
	</p>
        
	<p>性別 ※<br>
		<label><input type="radio" name="gender" value="男"> 男性</label>
		<label><input type="radio" name="gender" value="女"> 女性</label>
		<label><input type="radio" name="gender" value="不"> 不明</label>
		<span th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}" style="color:red"></span>
	</p>
	
	<p>所属 ※<br>
		<label><input type="radio" name="affiriation" value="未定"> 未定</label>
		<label><input type="radio" name="affiriation" value="アプリ"> アプリ</label>
		<label><input type="radio" name="affiriation" value="インフラ"> インフラ</label>
		<span th:if="${#fields.hasErrors('affiriation')}" th:errors="*{affiriation}" style="color:red"></span>
	</p>
            
	<p>グループ ※<br>
		<select th:field="*{group_ID}">
			<option value="0" disabled>-- 選択してください --</option>
			<option th:each = "item:${user}" th:value="${item.group_ID}" th:text="${item.group_name}"></option>
			<span th:if="${#fields.hasErrors('group_ID')}" th:errors="*{group_ID}" style="color:red"></span>
		</select>
            </p>
             
	<p>出身学部 <br>
		<input type="text" th:field="*{departOfOrigin}" maxlength="10">
	</p>
        
	<p>ロール ※<br>
		<label><input type="radio" name="role_ID" value="1"> 受講者</label>
		<label><input type="radio" name="role_ID" value="2"> 講師</label>
		<span th:if="${#fields.hasErrors('role_ID')}" th:errors="*{role_ID}" style="color:red"></span>
	</p>  
  <br>
  <button type="submit">更新</button></a>
  <a th:href="@{/admin/User}"><button type="button">ユーザー一覧に戻る</button></a>
</form>
</body>
</html>