<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>ユーザー一覧</title>
</head>
<body>
<div sec:authentication="principal.username">ユーザーID</div>
<div sec:authentication="principal.account_name">ユーザー名</div>
<div sec:authentication="principal.password">パスワード</div>
<div sec:authentication="principal.TEL">電話番号</div>
<div sec:authentication="principal.address">住所</div>
<div sec:authentication="principal.gender">性別</div>
<div sec:authentication="principal.affiriation">所属</div>
<div sec:authentication="principal.departOfOrigin">出身学部</div>
<div sec:authentication="principal.role_ID">ロールID</div>
<div sec:authentication="principal.group_ID">グループID</div>
<header th:replace="~{layout :: header}"></header>
<div layout:fragment="content">
	あなたは管理者です。これはユーザー一覧画面の予定です。
</div>
</body>
</html>