<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>受講研修一覧</title>
</head>
<body>
<header th:replace="~{layout :: header}"></header>
<div layout:fragment="content">
	あなたは受講者です。これは受講研修一覧画面の予定です。
	<div sec:authentication="principal.username">ユーザーID</div>
	<div sec:authentication="principal.account_name">ユーザー名</div>
	<div sec:authentication="principal.TEL">電話番号</div>
	<div sec:authentication="principal.address">住所</div>
	<div sec:authentication="principal.gender">性別</div>
	<div sec:authentication="principal.affiriation">所属</div>
	<div sec:authentication="principal.departOfOrigin">出身学部</div>
	<div sec:authentication="principal.role_ID">ロールID</div>
</div>
</body>
</html>