<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
	
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" th:href="@{/css/grouptraining.css}">
		<title>受講研修詳細画面</title>
	</head>
	
	<body>
		<header th:replace="~{layout :: header}"></header>
		<di layout:fragment="content">
			<main>
				<h2><span th:text="${traCourse.trainfo.tra_name}"></h2>
				<h3>受講者名:<span th:text="${traUser.account_name}"></span></h3>
				<p class="subtitle">概要</p>
				<table class="vertable" border="1">
			
					<tr><th>使用教材</th><td th:text="${traCourse.trainfo.text_book}"></td></tr>
					<tr><th>想定時間</th><td th:text="|${traCourse.trainfo.est_time}時間|"></td></tr>
					<tr><th>進捗</th><td th:text="|${traCourse.latestprogress}％|"></td></tr>
					<tr><th>説明</th><td th:text="${traCourse.trainfo.description}"></td></tr>
			
				</table>
		
				<p class="subtitle">ステータス変更</p>
				<form class="centerselect" th:action="@{/participant/traCourse/{traCourse_ID}/update(traCourse_ID=${traCourse.tracourse_id})}" method="post" th:object="${traCourse}">
					<input type="hidden" th:field="*{tracourse_id}">
					<input type="hidden" th:field="*{latestprogress}">
					<input type="radio"  th:field="*{status_id}" name="statusRadio" th:value="${item.status_id}" th:text="${item.status}" th:checked="${item.status_id == traCourse.status_id}" th:each="item:${statusAll}">
				<div class="tablebtnR">
					<button class="chengebtn"  type="submit">変更</button>
				</div>
				</form>
				<p class="subtitle">課題</p><br>
				<textarea class="issuetextarea" th:text="${traCourse.trainfo.assignment}" readonly></textarea>
			
				<br>
				<p class="subtitle">学習履歴</p>
				<table class="nomaltable" border="1">
					<tr>
						<th>日付</th>
						<th>学習時間</th>
						<th>メモ</th>
						<th>進捗</th>
						<th>修正</th>
					</tr>
					<tr th:each="item:${traTpm}">
						<td class="day" th:text="${item.study_day}"></td>
						<td th:if="${item.study_time !=null && item.study_time != 0.0 } " th:text="|${item.study_time}時間|"></td>
						<td th:if="${item.study_time == null || item.study_time == 0.0}" th:text="'-'"></td>							
						<td class="memo" th:text="${item.memo}"></td>		
						<td th:text="|${item.progress}％|"></td>								
						<td><a class="maru" th:href="@{/participant/traCourse/stack/edit/{traCourse_ID}/{stack_No}(traCourse_ID=${traCourse.tracourse_id},stack_No=${item.stack_No})}">●</a></td>
					</tr>
				</table>
				<form class="tablebtnR" th:action="@{/participant/traCourse/stack/save/{traCourse_ID}(traCourse_ID=${traCourse.tracourse_id})}">
					<button class="addlessonbtn" type="submit">学習履歴登録</button>
				</form>
				<form class="returnbtnL" th:action="@{/participant/traCourse/{uName}(uName=${traCourse.username})}">
					<button class="Allreturnbtn" type="submit">受講研修一覧に戻る</button>
				</form>
				
			</main>
		</div>
	</body>
			
</html>