@charset "UTF-8";

#mask{
	background: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 1;
}

#modal{
	background: #fff;
	color: #555;
	width: 300px;
	padding: 40px;
	border-radius: 4px;
	position: absolute;
	top: 40px;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 1;
}

div.hidden{
	display: none;
}

section.hidden{
	transform: translate(0, -500px)
}