<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
	<meta charset="UTF-8">
	<link th:href="@{/css/grouptraining.css}" rel="stylesheet">
	<title>研修管理システム</title>
</head>
<body>
	<!-- ヘッダー -->
	<header th:fragment="header">
		<nav>
			<ul>
			<h1>研修管理システム</h1>
				<li sec:authorize="hasAuthority('ROLE_講師')">
					<button onclick="location.href='/admin/Training'">研修管理</button>
				</li>
				<li sec:authorize="hasAuthority('ROLE_講師')">
					<button onclick="location.href='/admin/Group'">グループ管理</button>
				</li>
				<li sec:authorize="hasAuthority('ROLE_講師')">
					<button onclick="location.href='/admin/User'">ユーザー管理</button>
				</li>
				<li sec:authorize="hasAuthority('ROLE_講師')">
					<button onclick="location.href='/admin/WeeklyRepo'">報告確認</button>
				</li>


				<li sec:authorize="hasAuthority('ROLE_受講者') and not hasAuthority('ROLE_講師')">
					<form th:action="@{/participant/talk/{room_ID}(room_ID = ${MsgRoom_room_id})}" method="get">
						<button type="submit">トーク</button>
					</form>
				</li>	
				<li sec:authorize="hasAuthority('ROLE_受講者') and not hasAuthority('ROLE_講師')">
					<form th:action="@{/participant/traCourse/{username}(username=${username})}" method="get">
						<button type="submit">受講研修</button>
					</form>
				</li>
				<li sec:authorize="hasAuthority('ROLE_受講者') and not hasAuthority('ROLE_講師')">
					<button onclick="location.href='/participant/WeeklyRepo'">週間報告</button>
				</li>
					

				<li th:if="${group != null}" sec:authorize="hasAuthority('ROLE_受講者') and not hasAuthority('ROLE_講師')" >
					<form th:action="@{/participant/Group/member/{group_ID}(group_ID = ${group.group_ID})}" method="get">
						<button type="submit" class="ellipsis">
							<span th:text="${group.group_name}"></span>
						</button>
					</form>
				</li>

				<li id="notBelong" th:if="${group == null}" sec:authorize="hasAuthority('ROLE_受講者') and not hasAuthority('ROLE_講師')">
					<span>グループ未所属</span>
				</li>

				<li class="ellipsis" sec:authorize="hasAuthority('ROLE_受講者') and not hasAuthority('ROLE_講師')">
					<img th:src="@{/image/受講者アイコン.png}" alt="受講者アイコン">
					<span id="account_name" sec:authentication="principal.account_name"></span>
				</li>
				<li class="ellipsis" sec:authorize="hasAuthority('ROLE_講師')">
					<img th:src="@{/image/講師アイコン.png}" alt="講師アイコン">
					<span id="account_name" sec:authentication="principal.account_name"></span>
				</li>

				<li id="logout">
					<form th:action="@{/logout}" method="post">
					<button type="submit">ログアウト</button>
					</form>
				</li>
			</ul>
		</nav>
	</header>
	
	<main>
		<div class="container">
			<h2>研修新規登録</h2>
			
			<p class="message" th:if="${errorMessage}"
				th:text="${errorMessage}" style="background-color: rgb(255, 212, 212);">
				エラーメッセージ
			</p>
			
			<div>
				<form class="logcenter" th:action="@{/admin/Training/create}"
					th:object="${form}" method="post">
					
					<div class="centerform">
						<label class="labelname">研修ID  *</label>
						<input class="Msizeinput" type="text" th:field="*{tra_id}"
						 	th:classappend="${#fields.hasErrors('tra_id')} ? 'error-border' : ''">
						
						<p class="errormessage" th:if="${#fields.hasErrors('tra_id')}"
							th:errors="*{tra_id}" style="color: red;">
							エラーがあれば表示
						</p>
					</div>
					
					<div class="centerform">
						<label class="labelname">研修名  *</label>
						<input class="Msizeinput" type="text" th:field="*{tra_name}"
							th:classappend="${#fields.hasErrors('tra_name')} ? 'error-border' : ''" >
						
						<p class="errormessage" th:if="${#fields.hasErrors('tra_name')}"
							th:errors="*{tra_name}" style="color: red;">
							エラーがあれば表示
						</p>
					</div>
					
					<div class="centerform">
						<label class="labelname">想定時間</label>
						<input class="Msizeinput" type="text" th:field="*{est_time}">
					</div>
					
					<div class="centerform">
						<label class="labelname">使用教材</label>
						<input class="Msizeinput" type="text" th:field="*{text_book}">
					</div>
					
					<div class="centerform">
						<label class="labelname">説明</label>
						<textarea class="descinput" th:field="*{description}" >
						</textarea>
					</div>
					
					<div class="centerform">
						<label class="labelname">課題</label>
						<textarea class="issueinput" th:field="*{assignment}">
						</textarea>
					</div>
					
					<div class="inputbtnR">
						<button class="registbtn" type="submit">登録</button>
					</div>
				</form>
			</div>
		</div>
		
		<form class="returnbtnL" th:action="@{/admin/Training}">
			<button class="Allreturnbtn">研修一覧に戻る</button>
	</form>
	</main>
</body>
</html>