<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link href="style.css" rel="stylesheet">
<title>研修管理システム</title>
</head>
<body>
	<main>
		<h1>研修詳細</h1>
		<div id="container">
			<table border="1" class="table-style">
				<tr>
					<th>研修ID</th>
					<th>研修名</th>
					<th>想定時間</th>
					<th>使用教材</th>
					<th>説明</th>
					<th>課題</th>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</table>
		</div>
		<form>
			<button type="submit">削除</button>
			<button type="submit">修正</button>
		</form>
		<button type="submit">修正一覧に戻る</button>
	</main>
</body>
</html>