<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
	<meta charset="UTF-8">
	<link th:href="@{/css/grouptraining.css}" rel="stylesheet">
	<title>研修管理機能</title>
</head>
<body>
	<header th:replace="~{layout :: header}"></header>
	
	<div layout:fragment="content">
		<main>
			<div class="container">
				<h2>研修新規登録</h2>
				
				<p class="message" th:if="${errorMessage}"
					th:text="${errorMessage}" style="background-color: rgb(255, 212, 212);">
					エラーメッセージ
				</p>
				
				<div>
					<form class="logcenter" th:action="@{/admin/Training/registration}"
						th:object="${form}" method="post">
						
						<div class="centerform">
							<label class="labelname">研修ID  *</label>
							<input class="Msizeinput" type="text" th:field="*{tra_id}"
							 	th:classappend="${#fields.hasErrors('tra_id')} ? 'error-border' : ''">
							
							<p class="errormessage" th:if="${#fields.hasErrors('tra_id')}"
								th:errors="*{tra_id}" style="color: red;">
								エラーがあれば表示
							</p>
						</div>
						
						<div class="centerform">
							<label class="labelname">研修名  *</label>
							<input class="Msizeinput" type="text" th:field="*{tra_name}"
								th:classappend="${#fields.hasErrors('tra_name')} ? 'error-border' : ''" >
							
							<p class="errormessage" th:if="${#fields.hasErrors('tra_name')}"
								th:errors="*{tra_name}" style="color: red;">
								エラーがあれば表示
							</p>
						</div>
						
						<div class="centerform">
							<label class="labelname">想定時間</label>
							<input class="Msizeinput" type="text" th:field="*{est_time}">
						</div>
						
						<div class="centerform">
							<label class="labelname">使用教材</label>
							<input class="Msizeinput" type="text" th:field="*{text_book}">
						</div>
						
						<div class="centerform">
							<label class="labelname">説明</label>
							<textarea class="descinput" th:field="*{description}" >
							</textarea>
						</div>
						
						<div class="centerform">
							<label class="labelname">課題</label>
							<textarea class="issueinput" th:field="*{assignment}">
							</textarea>
						</div>
						
						<div class="inputbtnR">
							<button class="registbtn" type="submit">登録</button>
						</div>
					</form>
				</div>
			</div>
			
			<form class="returnbtnL" th:action="@{/admin/Training}">
				<button class="Allreturnbtn">研修一覧に戻る</button>
		</form>
	</main>
	</div>
</body>
</html>