<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/
 dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.example.demo.repository.AuthenticationMapper">
    <!-- usernameで認証情報を検索 -->
    <select id="selectByUsername" resultType="com.example.demo.entity.Authentication">
        SELECT * FROM profile_table WHERE username = #{username}
    </select>
    
    <!-- 入力されたusernameからロールIDを取得後、一致するロール名を取得 -->
    <select id="selectByRoleId" resultType="com.example.demo.entity.Role">
    	SELECT role_name, role_ID FROM role_table WHERE role_ID = #{role_ID}
    </select>
    
    <!-- ログインしたusernameからグループ名を取得  -->
    <select id="selectGroupByUsername" resultType="com.example.demo.entity.Group">
    	SELECT G.group_ID, group_name, summary FROM group_table AS G JOIN member_table AS M ON G.group_ID = M.group_ID
    	WHERE username = #{username}
    </select>
    <!-- usernameに合致するユーザーのパスワードを変更する -->
    <update id="updatePassword" parameterType="com.example.demo.entity.Authentication">
    	UPDATE profile_table SET password = #{password} WHERE username=#{username}
    </update>
 </mapper>