<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.repository.StackMapper">
	<!-- 研修名検索 -->
	<select id="selectTra_name" resultType="com.example.demo.entity.Trainfo">
		SELECT DISTINCT tra_name FROM trainfo_table
		INNER JOIN traCourse_table 
		ON trainfo_table.tra_ID = traCourse_table.tra_ID
		WHERE traCourse_table.traCourse_ID = #{traCourse_ID};
	</select>
	<!-- 受講研修ID検索 -->
	<select id="selectTraCourse_ID" resultType="com.example.demo.entity.TraTpm">
		SELECT DISTINCT traCourse_ID FROM traCourse_table WHERE traCourse_ID = #{traCourse_ID};
	</select>
	<!-- 履歴検索 -->
	<select id="selectStack" resultType="com.example.demo.entity.TraTpm">
		SELECT study_day, study_time, progress, memo FROM TPM_table
		WHERE traCourse_ID = #{traCourse_ID} AND stack_No = #{stack_No};
	</select>
	<!-- 登録 -->
	<insert id="insert">
	SELECT setval('tpm_table_stack_no_seq', (SELECT max(stack_no) FROM tpm_table));
	INSERT INTO TPM_table (traCourse_ID, study_day, memo, study_time, progress, status_id)
	VALUES (#{traCourse_ID}, #{study_day}, #{memo}, #{study_time}, #{progress}, 
	(SELECT status_id FROM traCourse_table  WHERE traCourse_ID = #{traCourse_ID}));
	</insert>
	<!-- 修正 -->
	<update id="update">
		UPDATE TPM_table 
		SET study_day = #{study_day}, memo = #{memo}, study_time = #{study_time}, progress = #{progress}
		WHERE traCourse_ID = #{traCourse_ID} AND stack_No = #{stack_No};
	</update>
	<!-- 削除 -->
	<delete id="delete">
		DELETE FROM TPM_table WHERE traCourse_ID = #{traCourse_ID} AND stack_No = #{stack_No};
	</delete>
</mapper>